<html>
  <body>
    <a
      href="https://www.etsy.com/oauth/connect?response_type=code&redirect_uri=http://localhost:3003/oauth/redirect&scope=email_r%20transactions_r%20transactions_w&client_id={{client_id}}&state={{state}}&code_challenge={{code_challenge}}&code_challenge_method=S256"
    >Authenticate with Etsy</a>
  </body>
</html>